{% extends 'act/base.html' %}
{% block title %}新增活動{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-block btn-lg btn-primary">送出</button>
        </form>
    </div>
</div>
{% endblock %}