<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="">首頁</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if perms.act.add_activity %}
            <li class="nav-item">
                <a class="nav-link" href="/activity/create">新增活動</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">登出</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/signup">註冊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">登入</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>